h1 {
    /* border-bottom: 4px rgb(0, 52, 121) solid; */
    text-align: center;
    padding: 10px;
    margin: auto;
    display: block;
    color:white
}
.background-gradient{
    background-image: linear-gradient(to bottom, rgb(2, 34, 59),rgb(0, 52, 121) );
    min-height: 100vh;
}

.button-absolute{
    position: absolute;
    top: 32vh;
    right: 14vw;
}

#plotly-stock-prediction .modebar {
    background: rgba(0, 52, 121, 0);
  }

